body {
  font-family: 'Lato', sans-serif;
  background-color: #e3e3e3;
  color: #434343;
}
/* Button */
button,
.button {
  position: relative;
  border: none;
  color: #e9e9e9;
  background-color: #5f48a5;
  font-size: 1.2em;
  padding-top: .77em;
  padding-bottom: .77em;
  margin-bottom: 2em;
  margin-top: 2em;
}
button:hover,
.button:hover {
  background-color: #6a51b7;
  color: #fff;
}
button.disable,
.button.disable {
  opacity: 0.5;
}
h1 {
  font-size: 3.5em;
  text-transform: capitalize;
}
h2,
h3,
input {
  font-weight: 300;
}
p {
  font-size: 1.5em;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.page-number {
  float: right;
  font-weight: 300;
  color: #5f48a5;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.img-width {
  width: 100%;
}
.header {
  margin-top: 0.35em;
  margin-bottom: 0.35em;
  text-align: center;
}
.intro-desc {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0.75em;
  border: 2px solid #5f48a5;
}
.question-content {
  padding-top: 1.5em;
}
.radio-input {
  float: left;
  width: 3%;
}
.radio-option {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.radio-label {
  padding-left: 1em;
  font-size: 1.6em;
  font-weight: 300;
}
.error {
  color: #f69220;
  font-size: 1.6em;
  font-weight: 300;
}
.display {
  display: block;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.float-right {
  float: right;
}
.overflow-hidden {
  overflow: hidden;
}
.heavy {
  font-weight: 400;
}
.italic {
  font-style: italic;
}
.border-bottom {
  border-bottom: 2px solid #434343;
}
.big-text {
  font-size: 1.7em;
}
.state-header {
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  margin-top: 0;
}
.you-own-tokens,
.taking-tokens {
  color: #5f48a5;
}
.other-own-tokens,
.giving-tokens {
  color: #f2d423;
}
.you-own-tokens,
.other-own-tokens {
  border-bottom: 2px solid #434343;
  font-size: 1.3em;
}
select {
  text-transform: capitalize;
}
.survey-list-item {
  padding-bottom: 1em;
  float: left;
}
.survey-question {
  font-size: 1.7em;
}
.survey-input {
  float: left;
  width: 3%;
  height: 25px;
}
.survey-label,
.survey-label-2 {
  width: 97%;
  float: left;
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 300;
  padding-bottom: 0.75em;
}
.survey-input-number,
.survey-input-text {
  border: none;
  background-color: #e3e3e3;
  border-bottom: 1px solid #434343;
  font-size: 1.3em;
}
.survey-input-number {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.survey-input-text {
  padding-bottom: 0.25em;
}
.survey-label-2 {
  width: 10%;
}
.survey-input-text {
  width: 87%;
}
