.you-own-tokens, .taking-tokens {
	color: @purple;
}

.other-own-tokens, .giving-tokens{
	color: @yellow;
}

.you-own-tokens, .other-own-tokens {
	border-bottom: 2px solid @dark-grey;
	font-size: 1.3em;
}

select {
	text-transform: capitalize;
}
